# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# =====================
# Entornos virtuales
# =====================
.venv/
venv/
ENV/
env/

# =====================
# Jupyter / Notebooks
# =====================
.ipynb_checkpoints/

# =====================
# Datos (no versionar datos grandes)
# =====================

*.csv

# =====================
# Outputs / Resultados
# =====================
output/
outputs/
results/
figures/
plots/

# =====================
# Logs y temporales
# =====================
*.log
*.tmp
*.bak

# =====================
# Sistema operativo
# =====================
.DS_Store
Thumbs.db

# =====================
# VS Code
# =====================
.vscode/
.history/

# =====================
# Otros
# =====================
.env
.env.*
